.story_section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sect_brown {
    padding: 260px 0;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row_center {
    text-align: right;
}

.col_content {
    display: inline-block;
    max-width: 500px;
}

.sect_title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.sect_subtitle {
    margin-bottom: 0;
    color: #fff;
    opacity: 0.7;
    line-height: 23px;
    font-family: 'Nunito', sans-serif;
}

.story_img {
    background-image: url('../../../../public/assets/defaultImages/OurStoryDefault.jpeg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.story_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .sect_brown {
        padding: 80px 0;
    }
    
    .sect_title {
        font-size: 26px;
        line-height: 36px;
    }
}
