<div class="calendar-container">
  <!-- Header Section -->
  <div class="header">
    <button class="back-button" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
    <h1>Plan Nutricional Semanal</h1>
  </div>

  <!-- Stats Cards Section -->
  <div class="nutrition-summary">
    <h3>Resumen Nutricional</h3>
    <div class="stats-cards">
      <div class="stat-card">
        <i class="fas fa-fire"></i>
        <span> {{ totalCalories }} kcal</span>
        <p>Calorías Totales</p>
      </div>
      <div class="stat-card">
        <i class="fas fa-drumstick-bite"></i>
        <span> {{ totalProtein }} g</span>
        <p>Proteínas</p>
      </div>
      <div class="stat-card">
        <i class="fas fa-bread-slice"></i>
        <span> {{ totalCarbs }} g</span>
        <p>Carbohidratos</p>
      </div>
      <div class="stat-card">
        <i class="fas fa-oil-can"></i>
        <span> {{ totalFat }} g</span>
        <p>Grasas</p>
      </div>
    </div>
  </div>

  <div class="allergens-summary">
    <h3>Alérgenos Encontrados</h3>
    <ul>
      <li *ngFor="let allergen of commonAllergens">{{ allergen }}</li>
    </ul>
  </div>
  

  <!-- Calendar Section -->
  <div class="calendar-section">
    <div class="timeline">
      <div class="time-slots">
        <div class="time-slot">
          <i class="fas fa-sun"></i>
          <span>8:00 - Desayuno</span>
        </div>
        <div class="time-slot">
          <i class="fas fa-utensils"></i>
          <span>13:00 - Comida</span>
        </div>
        <div class="time-slot">
          <i class="fas fa-cookie"></i>
          <span>17:00 - Merienda</span>
        </div>
        <div class="time-slot">
          <i class="fas fa-moon"></i>
          <span>21:00 - Cena</span>
        </div>
        <div class="time-slot">
          <i class="fas fa-ice-cream"></i>
          <span>21:30 - Postre</span>
        </div>
      </div>
    </div>

    <div class="days-grid">
      <div class="day-column" *ngFor="let day of ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']">
        <h2>{{ day }}</h2>
        <div class="meal-slot" *ngFor="let mealType of ['desayuno', 'comida', 'merienda', 'cena', 'postre']">
          <ng-container *ngIf="mealsByDay[day] && mealsByDay[day][mealType]; else addMealTemplate">
            <div class="meal-card">
              <div class="meal-image-container">
                <img [src]="getMealImagePath(mealsByDay[day][mealType].img)" alt="{{ mealsByDay[day][mealType].name }}" class="meal-img">
                <div class="meal-overlay">
                  <span class="meal-calories">{{ mealsByDay[day][mealType].calories }} kcal</span>
                  <button class="remove-meal" (click)="removeMeal(day, mealType)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="meal-info">
                <h3 class="meal-name">{{ mealsByDay[day][mealType].name }}</h3>
                <div class="meal-macros">
                  <span><i class="fas fa-drumstick-bite"></i> {{ mealsByDay[day][mealType].proteins }} g</span>
                  <span><i class="fas fa-bread-slice"></i> {{ mealsByDay[day][mealType].carbohydrates }} g</span>
                  <span><i class="fas fa-oil-can"></i> {{ mealsByDay[day][mealType].fats }} g</span>
                </div>            
              </div>
            </div>
          </ng-container>
          <ng-template #addMealTemplate>
            <div class="add-meal-card" (click)="addMeal(day, mealType)">
              <i class="fas fa-plus-circle"></i>
              <span>Añadir {{ mealType | titlecase }}</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Charts Section -->
  <div class="nutrition-charts-section">
    <div class="chart-container">
      <div class="pie-chart">
        <canvas baseChart
          [data]="macronutrientData"
          [type]="'pie'">
        </canvas>
      </div>
      <div class="line-chart">
        <canvas baseChart
          [data]="weeklyCaloriesData"
          [type]="'line'">
        </canvas>
      </div>
    </div>
  </div>

  <!-- Modal Component -->
  <app-modal-meals 
    *ngIf="showModal" 
    [day]="selectedDay" 
    [mealType]="selectedMealType" 
    (close)="closeModal()" 
    (mealSelected)="onMealSelected($event)">
  </app-modal-meals>
</div>